.header {
    &-container {
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        
        @media (min-width:320px)  { 
            width: fit-content;
        }
        @media (min-width:641px) {
            width: calc(100% - 41rem);
        }
    }

    &-logo-zeplin {
        display: flex;

        img {
            margin-right: auto;
        }

        .menu {
            list-style: none;

            li {
                display: inline;
                padding-left: 1.5rem;
                padding-right: 1.5rem;
                color: #a39da2;
                font-family: Inter,sans-serif;
                font-size: .875rem;
                font-weight: 500;
            }
            li:last-child {
                color: #439df9;
            }

            @media (min-width:320px)  { 
                display: none;
             }
             @media (min-width:641px) {
                display: block;
            }
        }

    }
}