.logos{
    justify-content:center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -1.5rem;
    margin-top: 4rem;

    @media (min-width:641px) {
        margin-right: -3.75rem;
    }

    @media (min-width:320px)  { 
        margin-left: 3rem;
    }


    .logo{
        margin-right: 3.75rem;
        order: var(--order-lg);
        margin-bottom: 1.5rem;
    }
}

.a-container {
    width: calc(100% - 3rem);
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 27rem;

    a {
        display: block;
        line-height: 1.5rem;
        color: #419bf9;
        font-size: 1.125rem;
        text-align: center;
        text-decoration: inherit;
        font-family: Inter,sans-serif;
    }
}