.main-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 78rem;
    margin-top: 5rem;

    h1 {
        line-height: 4.5rem;
        font-size: 5rem;
        color: #554d56;
        font-weight: 700;
        font-family: "DM Serif Display",serif;
    }
}

.main-paragraph {
    padding-left: 0;
    padding-right: 0;
    line-height: 2.25rem;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    color: #554d56;
    font-weight: 300;
    font-family: Inter,sans-serif;
    width: 26rem;
}

.get-button {
    width: auto;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-bottom: 0.8125rem;
    padding-top: 0.8125rem;
    position: relative;
    padding: 0.6875rem 2.3125rem;
    background-color: #419bf9;
    border-color: #419bf9;
    color: #fff;
    text-decoration: inherit;
    font-family: Inter,sans-serif;
}